body {
    background: #da4453;  /* Fallback */
    background: -webkit-linear-gradient(to right, #89216b, #da4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216b, #da4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
blockquote {
    padding: 20px;
    border-left: 4px solid rgba(255, 255, 255, 0.200);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.200);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.083);
}
code {
    color: #da4453;
}
.container {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.083);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.207);
}
.container h3, h5, p, i {
    color: white;
}
.centered_icons {
    text-align: center;
}
#code_example {
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    display: block;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0.75rem;
}
::-webkit-scrollbar-track {
    background: #da4453;
    background: -webkit-linear-gradient(to bottom, #89216b, #da4453); 
    background: linear-gradient(to bottom, #89216b, #da4453);
}
::-webkit-scrollbar-thumb {
    background: white;
    background: -webkit-linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.864), transparent); 
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.864), transparent);
}
#code_example::-webkit-scrollbar-track {
    background: #da4453;
    background: -webkit-linear-gradient(to right, #89216b, #da4453); 
    background: linear-gradient(to right, #89216b, #da4453);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#code_example::-webkit-scrollbar-thumb {
    background: white;
    background: -webkit-linear-gradient(to right, transparent, rgba(255, 255, 255, 0.864), transparent); 
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.864), transparent);
}
.navigation_base {
    background: #da4453;
    background: -webkit-linear-gradient(to right, #89216b, #da4453); 
    background: linear-gradient(to right, #89216b, #da4453);
}
#dropdown_elements li a {
    color: #89216b;
}
#code_example_header {
    margin: 0 auto 0 auto;
    padding: 0;
}
.btn, .btn-large, .btn-floating {
    background-color: rgba(255, 255, 255, 0.200);
}
.btn:hover, .btn-large:hover, .btn-floating {
    background-color: rgba(255, 255, 255, 0.200);
}
.halfway-fab {
    background: #da4453;
    background: -webkit-linear-gradient(to right, #89216b, #da4453); 
    background: linear-gradient(to right, #89216b, #da4453);
}
.halfway-fab:hover {
    background: #a72d84;
    background: -webkit-linear-gradient(to right, #a72d84, #f15362);
    background: linear-gradient(to right, #a72d84, #f15362);
}
#mobile_form {
    background: #da4453;
    background: -webkit-linear-gradient(to right, #89216b, #da4453); 
    background: linear-gradient(to right, #89216b, #da4453);
}

#mobile_form li a {
    color: white;
}